<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Race Database</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="static/img/favicone.png" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="/static/libs/bootstrap/bootstrap-grid.min.css" />
<link rel="stylesheet" href="/static/libs/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/css/fonts.css" />
<link rel="stylesheet" href="/static/libs/slick/slick-theme.css" />
<link rel="stylesheet" href="/static/libs/slick/slick.css" />
<link rel="stylesheet" href="/static/css/main.css" />
<link rel="stylesheet" href="/static/css/media.css" />


</head>
<body>
	<!--  playsinline prel/oad="auto"-->
	<div id="page-preloader">
		<span class="spinner"></span>
	</div>
	<div id="video-bg">
		<video width="100%" height="auto" muted autoplay="autoplay" loop="loop">
			<source
				src="/static/img/racedb_background_video_black_and_white_188.mp4"
				type="video/mp4"></source>
			<source
				src="/static/img/racedb_background_video_black_and_white_188.mp4"
				type="video/mp4"></source>
		</video>
	</div>
	<div class="overlay"></div>
	<div class="popup" id="popup1">
		<span class="close">X</span>
		<form action="{% url 'emailpop' %}" class="form-popup">
			<p>Please enter your name and email to receive the latest news
				and info!</p>
			<div class="form-popup__item">
				<label for="">Name</label> <input type="text" name="name-popup">
			</div>
			<div class="form-popup__item">
				<label for="">Email</label> <input type="text" name="email-popup">
			</div>

			<div class="form-popup__button">
				<button type="submit" class="button__submit_white">Submit</button>
			</div>
		</form>
	</div>

	<header class="main__header">
        <div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-xs-6 padding-none">
					<div class="header__logo">
						<a href="{% url 'home' %}"><img class="img-respon"
							src="/static/img/logo.png" alt=""></a>
					</div>
				</div>

				<div class="col-md-5">
					<div class="header__buttonWhite">
						{% if user.is_active %}
						<!-- <button class="buttonWhite" rel="popup1">Log In / Register</button> -->
						<a href="{% url 'profile' %}"
							class="buttonWhite margin-left user-active-no"><i
							class="fa fa-user"></i>{{user.first_name}} {{user.last_name}}</a> <a
							href="{% url 'signout' %}" class="buttonWhite">Log out</a> 
						{% else %} <a href="{% url 'signup' %}" class="buttonWhite">Sign
							Up</a> <a href="{% url 'signin' %}" class="buttonWhite">Log In</a> 
						{% endif %}
					</div>
				</div>
				<div class="col-md-3 col-xs-6 padding-none">
					<div id="menu" class="header__menu">
						<input type="checkbox" id="hamburger" /> <label class="menuicon"
							for="hamburger"> <span></span>
						</label>
						<nav class="header_navigation">
							<!-- <div class="close">
								<a href=""><img src="/static/img/close_white_256x256.png" alt=""></a>
							</div> -->
							<ul class="navigation__navbar">
								<li class="navbar__item"><a class="navbar__link"
									href="{% url 'home' %}">Home</a></li>
								<li class="navbar__item"><a class="navbar__link"
									href="{% url 'discover' %}">Discover Races</a></li>
								<li class="navbar__item"><a class="navbar__link"
									href="{% url 'blog' %}">Blog</a></li>
								<li class="navbar__item"><a class="navbar__link"
									href="{% url 'about' %}">about us</a></li>
								<li class="navbar__item"><a class="navbar__link"
									href="{% url 'contact' %}">contact us</a></li>
								<li class="navbar__item"><a
									class=" navbar__link link-popup" href="#" rel="popup1">subscribe
										for the newsletter</a></li>
								<li class="navbar__item"><a class="navbar__link"
									href="{% url 'add_race' %}">Add Race</a></li>
							</ul>
							<ul class="navigation__sosial">
								<li class="sosial__item"><a class="sosial__link" href="">
										<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a></li>
								<li class="sosial__item"><a class="sosial__link" href="">
										<i class="fa fa-instagram" aria-hidden="true"></i>
								</a></li>
								<li class="sosial__item"><a class="sosial__link" href="">
										<i class="fa fa-envelope" aria-hidden="true"></i>
								</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="content">
		<h1 class="content__title">Discover</h1>
		<h2 class="content__subtitle">Any Race, Anywhere</h2>

		<div class="tools">
			<ul class="grid cs-style-4">
				<li>
					<figure>
						<div class="rok">BROWSE RACE DATABASE</div>
						<figcaption>
							<h3 class="tabs__title">Choose Sport:</h3>
							<div class="col-md-6">
								<ul class="tabs">
									<li class="tab" data-tab="tab-1">Running</li>
									<li class="tab" data-tab="tab-2">Cycling</li>
									<li class="tab" data-tab="tab-3">Triathlon</li>
									<li class="tab" data-tab="tab-4">Obstacle Racing</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="tabs">
									<li class="tab" data-tab="tab-5">Swimming</li>
									<li class="tab" data-tab="tab-6">Mountain Biking</li>
									<li class="tab" data-tab="tab-7">Duathlon</li>
								</ul>
							</div>
						</figcaption>
						<div id="tab-1" class="tab-content ">
							<div class="tools_three">
								<h3>Distances:</h3>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list padd-left">
										<li class="tools__item">5k</li>
										<li class="tools__item">Half Marathon</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item text-center">10k</li>

									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list padd-left">
										<li class="tools__item">Marathon</li>
										<li class="tools__item">Ultramarathon</li>
									</ul>
								</div>
								<div class="button__tools">
									<button>browse race database</button>
								</div>
							</div>
						</div>
						<div id="tab-2" class="tab-content">
							<div class="tools_three">
								<h3>Distances:</h3>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list padd-left">
										<li class="tools__item">Short (0 - 50km)</li>
										<li class="tools__item">Medium (50 - 100km)</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item text-center">Long (100 - 200km)</li>

									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item">Ultra (200km+)</li>
									</ul>
								</div>
								<div class="col-md-12">
									<div class="button__tools">
										<button>browse race database</button>
									</div>
								</div>
							</div>

						</div>
						<div id="tab-3" class="tab-content">
							<div class="tools_three">
								<h3>Distances:</h3>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list padd-left">
										<li class="tools__item">Super Sprint</li>
										<li class="tools__item">Sprint</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item">Olympic</li>
										<li class="tools__item">Half Ironman</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item">Ironman</li>
										<li class="tools__item">Other</li>
									</ul>
								</div>
								<div class="col-md-12">
									<div class="button__tools">
										<button>browse race database</button>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-4" class="tab-content">
							<div class="tools_three">
								<h3>Distances:</h3>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list padd-left">
										<li class="tools__item">Short (0 - 2km)</li>
										<li class="tools__item">Medium (2- 5km)</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item text-center">Long (5 - 10km)</li>

									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item">Ultra (10km+)</li>
									</ul>
								</div>
								<div class="col-md-12">
									<div class="button__tools">
										<button>browse race database</button>
									</div>
								</div>
							</div>
						</div>
					</figure>
				</li>
			</ul>
		</div>
		<div class="content__tools">


		</div>
		<div class="scroll">
			<img src="/static/img/arrow.png" alt="">
		</div>
	</section>

    <section class="listing top-height">
		<div class="listing__title text-center">
			<h3>Featured events</h3>
		</div>

		<div class="container">
			<div class="row">
				<div class="listing__events">
                    {% for event in events %}
					<div class="col-md-4">
						<a href="{% url 'details' %}">
							<div class="{% cycle events_item bg-img_one,
                                                 events_item bg-img_two,
                                                 events_item bg-img_three,
                                                 events_item bg-img_four,
                                                 events_item bg-img_five,
                                                 events_item bg-img_six
                                        %}">


								<div class="events__number">
									<h5>{{event.date| date:'d'}}</h5>
									<p> {{event.date| date:'M'}}</p>
								</div>

								<div class="events_bottom-text">
									<div class="col-md-9">
									<p class="">{{event.name}}</p>
									<p class="">{{event.description}}</p>
								</div>
								<div class="col-md-3">
									<p class=""><span>{% if event.price %}
                                                      {{ event.price }}
                                                      {% else %}
                                                      TBD
                                                      {% endif %}
                                               </span>
                                    </p>
								</div>
								</div>

							</div>
						</a>
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</section>


	<div class="wrapper main__listing" style="">
		<section class="listing">

			<div class="container">
				<div class="row">

					<div class="listing__title ">
						<h3 class="text-center">Contact us</h3>
					</div>
					<div class="contact__desck">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					<div class="col-md-6">

						<form action="" class="contact__form">
							<div class="form__input">

								<input type="text" name="name" class="input__item"
									placeholder="Name">
							</div>
							<div class="form__input">

								<input type="email" name="name" class="input__item"
									placeholder="Email">
							</div>
							<div class="form__input">

								<textarea rows="7" placeholder="Message" class="input__textarea"></textarea>
							</div>
							<div class="form__submit">
								<button class="button-red">Send</button>
							</div>
						</form>
					</div>

					<div class="col-md-6 ">
						<div class="contact__container">
							<ul class="contact__address">
								<li class="adress__item"><i class="fa fa-map-marker"
									aria-hidden="true"></i>
									<p>
										<strong>Lorem ipsum</strong> dolor sit amet
									</p></li>
								<li class="adress__item"><i class="fa fa-phone"
									aria-hidden="true"></i>
									<p>111222333444</p></li>
								<li class="adress__item"><i class="fa fa-envelope-o"
									aria-hidden="true"></i>
									<p>example@gmail.com</p></li>
							</ul>
							<ul class="contact__sosial">
								<li class="sosial__item"><a href=""><i
										class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
								<li class="sosial__item"><a href=""><i
										class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li class="sosial__item"><a href=""><i
										class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li class="sosial__item"><a href=""><i
										class="fa fa-google" aria-hidden="true"></i></a></li>
							</ul>
							<p style="text-align: center;">
								<strong>Lorem ipsum dolor sit amet sit amet</strong>
							</p>
						</div>


					</div>


				</div>
			</div>
		</section>

	</div>

	<footer class="footer silver_bg_footer">
		<ul class="footer__nav">
			<li class="nav__item"><a class="nav__link" href="index.html">home</a></li>
			<li class="nav__item"><a class="nav__link" href="discover.html">Discover
					Races</a></li>
			<li class="nav__item"><a class="nav__link" href="blog.html">Blog</a></li>
			<li class="nav__item"><a class="nav__link" href="about.html">about
					us</a></li>
			<li class="nav__item active"><a class="nav__link"
				href="contact.html">contact us</a></li>
			<li class="nav__item"><a class=" nav__link link-popup" href="#"
				rel="popup1">subscribe for the newsletter</a></li>
		</ul>
	</footer>

	<script src="/static/js/jquery-2.1.3.min.js"></script>
	<script src="/static/libs/slick/slick.js"></script>
	<script src="/static/js/common.js"></script>


</body>
</html>
