{% extends 'base.html' %}

{% block header %}
	<div id="video-bg">
		<video width="100%" height="auto" muted autoplay="autoplay" loop="loop">
			<source
				src="/static/img/racedb_background_video_black_and_white_188.mp4"
				type="video/mp4"></source>
			<source
				src="/static/img/racedb_background_video_black_and_white_188.mp4"
				type="video/mp4"></source>
		</video>
{% endblock %}
{% block content %}
	<section class="content">
		<h1 class="content__title">Discover</h1>
		<h2 class="content__subtitle">Any Race, Anywhere</h2>

		<div class="tools">
			<ul class="grid cs-style-4">
				<li>
					<figure>
						<div class="rok">BROWSE RACE DATABASE</div>
						<figcaption>
							<h3 class="tabs__title">Choose Sport:</h3>
							<div class="col-md-6">
								<ul class="tabs">
									<li class="tab" data-tab="tab-1">Running</li>
									<li class="tab" data-tab="tab-2">Cycling</li>
									<li class="tab" data-tab="tab-3">Triathlon</li>
									<li class="tab" data-tab="tab-4">Obstacle Racing</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="tabs">
									<li class="tab" data-tab="tab-5">Swimming</li>
									<li class="tab" data-tab="tab-6">Mountain Biking</li>
									<li class="tab" data-tab="tab-7">Duathlon</li>
								</ul>
							</div>
						</figcaption>
						<div id="tab-1" class="tab-content ">
							<div class="tools_three">
								<h3>Distances:</h3>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list padd-left">
										<li class="tools__item">5k</li>
										<li class="tools__item">Half Marathon</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item text-center">10k</li>

									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list padd-left">
										<li class="tools__item">Marathon</li>
										<li class="tools__item">Ultramarathon</li>
									</ul>
								</div>
								<div class="button__tools">
									<button>browse race database</button>
								</div>
							</div>
						</div>
						<div id="tab-2" class="tab-content">
							<div class="tools_three">
								<h3>Distances:</h3>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list padd-left">
										<li class="tools__item">Short (0 - 50km)</li>
										<li class="tools__item">Medium (50 - 100km)</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item text-center">Long (100 - 200km)</li>

									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item">Ultra (200km+)</li>
									</ul>
								</div>
								<div class="col-md-12">
									<div class="button__tools">
										<button>browse race database</button>
									</div>
								</div>
							</div>

						</div>
						<div id="tab-3" class="tab-content">
							<div class="tools_three">
								<h3>Distances:</h3>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list padd-left">
										<li class="tools__item">Super Sprint</li>
										<li class="tools__item">Sprint</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item">Olympic</li>
										<li class="tools__item">Half Ironman</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item">Ironman</li>
										<li class="tools__item">Other</li>
									</ul>
								</div>
								<div class="col-md-12">
									<div class="button__tools">
										<button>browse race database</button>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-4" class="tab-content">
							<div class="tools_three">
								<h3>Distances:</h3>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list padd-left">
										<li class="tools__item">Short (0 - 2km)</li>
										<li class="tools__item">Medium (2- 5km)</li>
									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item text-center">Long (5 - 10km)</li>

									</ul>
								</div>
								<div class="col-md-4 col-sm-4">
									<ul class="tools__list">
										<li class="tools__item">Ultra (10km+)</li>
									</ul>
								</div>
								<div class="col-md-12">
									<div class="button__tools">
										<button>browse race database</button>
									</div>
								</div>
							</div>
						</div>
					</figure>
				</li>
			</ul>
		</div>
		<div class="content__tools">
		</div>
		<div class="scroll">
			<img src="/static/img/arrow.png" alt="">
		</div>
	</section>

    <section class="listing top-height">
		<div class="listing__title text-center">
			<h3>Featured events</h3>
		</div>

		<div class="container">
			<div class="row">
				<div class="listing__events">
                    {% for event in events %}
					<div class="col-md-4">
						<a href="{% url 'details' %}?id={{event.pk}}">
							<div class="{% cycle events_item bg-img_one
                                                 events_item bg-img_two
                                                 events_item bg-img_three
                                                 events_item bg-img_four
                                                 events_item bg-img_five
                                                 events_item bg-img_six
                                        %}">


								<div class="events__number">
									<h5>{{event.date| date:'d'}}</h5>
									<p> {{event.date| date:'M'}}</p>
								</div>

								<div class="events_bottom-text">
									<div class="col-md-9">
									<p class="">{{event.name}}</p>
									<p class="">{{event.description}}</p>
								</div>
								<div class="col-md-3">
									<p class=""><span>{% if event.price %}
                                                      {{ event.price }}
                                                      {% else %}
                                                      TBD
                                                      {% endif %}
                                               </span>
                                    </p>
								</div>
								</div>

							</div>
						</a>
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

