<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Race Database</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/static/img/favicone.png" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/static/libs/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/libs/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/static/css/fonts.css" />
	<link rel="stylesheet" href="/static/css/main.css" />
	<link rel="stylesheet" href="/static/libs/slick/slick-theme.css" />
	<link rel="stylesheet" href="/static/libs/slick/slick.css" />
	<link rel="stylesheet" href="/static/css/media.css" />
	<link rel="stylesheet" href="/static/js/daterangepicker.css" />
	<link rel="stylesheet" href="/static/css/main_blog.css" />

	<script src="/static/js/jquery-2.1.3.min.js"></script>
	<script src="/static/libs/slick/slick.js"></script>
	<script src="/static/js/moment.js"></script>
	<script src="/static/js/daterangepicker.js"></script>
	<script src="/static/js/common.js"></script>

<script>
 $(function(){
 $('#date').daterangepicker({
  singleDatePicker: true,
 });
});
</script>


</head>
<body>
<!-- <div id="page-preloader"><span class="spinner"></span></div> -->
<div class="overlay"></div>
<div class="popup" id="popup1">
		    <span class="close">X</span>
		    <form action="" class="form-popup">
		    	<p>Please enter your name and email to receive the latest news and info!</p>
		    	<div class="form-popup__item">
			    	<label for="">Name</label>
			    	<input type="text" name="name-popup">
			    </div>
		    	<div class="form-popup__item">
			    	<label for="">Email</label>
			    	<input type="text" name="email-popup">
			    </div>

		    	<div class="form-popup__button">
		    		<button type="submit" class="button__submit_white">Submit</button>
		    	</div>
		    </form>
		</div>
	<div class="wrapper main__listing">

		<header class="main__header silver_bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-xs-6 padding-none">
						<div class="header__logo">
							<a href="index.html"><img class="img-respon" src="/static/img/logo.png" alt=""></a>
						</div>
					</div>

					<div class="col-md-5">
						<div class="header__buttonWhite silver">
							<!-- <button class="buttonWhite" rel="popup1">subscribe for the newsletter</button> -->
							<a href="user-profile.html" class="buttonWhite margin-left user-active-no"><i class="fa fa-user"></i>User Full Name</a>
							<a href="registration.html" class="buttonWhite">Log out</a>

						</div>
					</div>
					<div class="col-md-3 col-xs-6 padding-none">
						<div id="menu" class="header__menu">
							 <input type="checkbox" id="hamburger"/>
								<label class="menuicon" for="hamburger">
								  <span></span>
								</label>
							<nav class="header_navigation">
								<!-- <div class="close">
									<a href=""><img src="img/close_white_256x256.png" alt=""></a>
								</div> -->
								<ul class="navigation__navbar">
									<li class="navbar__item"><a class="navbar__link" href="index.html">Home</a></li>
									<li class="navbar__item"><a class="navbar__link" href="discover.html">Discover Races</a></li>
									<li class="navbar__item"><a class="navbar__link" href="blog.html">Blog</a></li>
									<li class="navbar__item"><a class="navbar__link" href="about.html">about us</a></li>
									<li class="navbar__item"><a class="navbar__link" href="contact.html">contact us</a></li>
									<li class="navbar__item"><a class="navbar__link link-popup" href="#" rel="popup1" >subscribe to the newsletter</a></li>
									<li class="navbar__item"><a class="navbar__link" href="add-race.html">Add Race</a></li>
								</ul>
								<ul class="navigation__sosial">
									<li class="sosial__item">
										<a class="sosial__link" href="">
											<i class="fa fa-facebook-official" aria-hidden="true"></i>
										</a>
									</li>
									<li class="sosial__item">
										<a class="sosial__link" href="">
											<i class="fa fa-instagram" aria-hidden="true"></i>
										</a>
									</li>
									<li class="sosial__item">
										<a class="sosial__link" href="">
											<i class="fa fa-envelope" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>


		<section class="blog_more">
			<div class="container">
				<div class="row">
					
					<div class="col-md-12">
						<div class="blog_back">
							<a href="{% url 'blog' %}" class="blog_back_btn text-uppercase"><i class="fa fa-angle-left" aria-hidden="true"></i>    back</a>
						</div>
					</div>
					<div class="forms__registation">
					<div class="col-md-6">
						<form action="{% url 'signin' %}" class="registation__item", method="POST">
							{% csrf_token %}
							<h4 class="text-red">Log in</h4>
							<div class="form__input ">
								<input type="email" name="username" class="input__item" placeholder="E-mail *">
							</div>
							<div class="form__input ">
								<input type="password" name="password" class="input__item" placeholder="Password *">
								<a href="{% url 'forgot' %}" class="link-popup" rel="popup2">Forgot your password?</a>
							</div>
							<div class="form__submit margin-btn">
								<button class="button-red big">Log In</button>
								
							</div>
							<div class="form__submit">
								<p class="silver-text">or <br> Log  in using your account</p>
								<div class="col-md-6 pad">
									<a class="button-red right sosial-bnt"><i class="fa fa-facebook-square"></i>Facebook</a>
								</div>
								<div class="col-md-6 pad">
									<a class="button-red left sosial-bnt"><i class="fa fa-google-plus"></i>Google</a>
								</div>
							</div>
							
						</form>
					</div>
					<div class="col-md-6" >

						<form action="{% url 'signup' %}" class="registation__item", method="POST">
							{% csrf_token %}

							<h4 class="text-red">Registration Form</h4>
							<div class="form__input ">
								<input type="text" name="full_name" class="input__item" placeholder="Full Name *">
							</div>
							<div class="form__input ">
								<input type="email" name="email" class="input__item" placeholder="E-mail *">
							</div>
							<div class="form__input ">
								<input type="pass" name="password" class="input__item" placeholder="Password *">
							</div>
							<!--
							<div class="form__input ">
								<!-- <input type="text" name="full-name" class="input__item" placeholder="Date of Birth *"> ->
								<input type="text" id="date" name="date" class="filter__input input__item input" value="" placeholder="Date of Birth *">
								<i class="fa fa-calendar callendar"></i>
							</div>
							-->
							<div class="form__input ">
								<input type="text" name="location" class="input__item" placeholder="Location: City, State, Country ">
							</div>
							<!--
							<div class="form__input ">
								<input type="text" name="favorite" class="input__item" placeholder="Favorite Race">
							</div>
							-->
							<div class="form__submit margin-btn">
								<button class="button-red big">Sign up</button>
								
							</div>
							<div class="form__submit">
								<p class="silver-text">or  <br> Join us using your account</p>
								<div class="col-md-6 pad">
									<a class="button-red right sosial-bnt"><i class="fa fa-facebook-square"></i>Facebook</a>
								</div>
								<div class="col-md-6 pad">
									<a class="button-red left sosial-bnt"><i class="fa fa-google-plus"></i>Google</a>
								</div>
							</div>
						</form>
					</div>
				</div>
				</div>
				
				<div class="overlay"></div>
				<div class="popup" id="popup2" >
						    <span class="close">X</span>
						    <form action="" class="form-popup", method="POST">
						    	<h3 class="form-text text-red" style="text-align: center;">Restoration</h3>
						    	<p>Please enter your  email to restore the password</p>
						    	<div class="form-popup__item">
							    	<label for="">Email</label>
							    	<input type="text" name="email-popup" style=" border: 1px solid #777;">
							    </div>

							    <p class="text-sending" style=" font-size: 14px;color: green;">Your request has been sent successfully. Please check your email.</p>

						    	<div class="form-popup__button">
						    		<button type="submit" class="button-red big">Submit</button>
						    	</div>
						    </form>
						</div>

			</div>
		</section>

		<footer class="footer silver_bg_footer">
			<ul class="footer__nav">
				<li class="nav__item "><a class="nav__link" href="{% url 'home' %}">home</a></li>
				<li class="nav__item " ><a class="nav__link" href="discover.html">Discover Races</a></li>
				<li class="nav__item "><a class="nav__link" href="blog.html">Blog</a></li>
				<li class="nav__item"><a class="nav__link" href="about.html">about us</a></li>
				<li class="nav__item"><a class="nav__link" href="contact.html">contact us</a></li>
				<li class="nav__item"><a class=" nav__link link-popup" href="#" rel="popup1" >subscribe for the newsletter</a></li>
			</ul>
		</footer>

</div>


<style>

.form-popup__item input:focus{
	box-shadow: 0px 0px 11px 0px rgba(202, 49, 49, 0.85) !important;
    border: 1px solid rgba(202, 49, 49, 0.85) !important; outline: none;
}

.popup{
	background: url('img/listing-bgw.png') 0% 0% / cover no-repeat;
}
	
</style>


</body>
</html>
