body
	font-family: "Open Sans", sans-serif
	font-weight: normal
	font-size: 14px
	line-height: 1.42857
	background-size: cover
	height: 100vh

.text-center
	text-align: center

.wrapper
	position: relative
	min-height: 100%

.main__listing
	background: url("../img/listing-bg.png") no-repeat
	background-size: cover

.silver_bg, .silver_bg_footer
	background: #494949

ul
	list-style: none
	padding: 0

.padding-none
	padding: 0

.header__logo
	background: rgba(255, 63, 43, 0.7)
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%)
	clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%)
	text-align: center
	padding: 17px 0


.header__menu
	background: rgba(255, 63, 43, 0.7)
	text-align: center
	padding: 44px 0 43px
 
	width: 100%
	float: right
	position: relative
	&::before
		content: ""
		display: block
		position: relative
		width: 0
		height: 0
		border-bottom: 106px solid rgba(255, 63, 43, 0.7)
		border-left: 62px solid transparent
		left: -62px
		top: -42px
		bottom: 0

#menu-button
	padding: 0 100px 0
	transition: background 750ms ease-in-out
	user-select: none
	cursor: pointer
	transition: transform 50ms
	transform: scale(0.95)

.hamburger
	position: relative
	width: 0px
	height: 20px
	transition: transform 750ms ease-in-out

#menu-button:active .hamburger
	transition: transform 50ms
	transform: scale(0.95)

.hamburger
	&::before, &::after, .inner
		content: ""
		position: absolute
		width: 40px
		height: 2px
		background: #fff
		transform-origin: 100% 50%
		transition: all 750ms ease-in-out
	&::before
		top: -1px
	.inner
		top: 9px
		transform-origin: 50% 50%
		height: 1px
	&::after
		top: 19px

.menu-open
	.hamburger
		transform: rotateY(-180deg)
	#menu-button:active .hamburger
		transform: scale(0.95) rotateY(-180deg)
	.hamburger
		&::before, &::after, .inner
			background: #29252f
		&::before
			transform: translate3d(-4px, 1px, 0) rotateZ(-45deg)
		.inner
			transform: rotateY(-90deg)
			transition: transform 375ms, background-color 750ms ease-in-out
		&::after
			transform: translate3d(-4px, -1px, 0) rotateZ(45deg)

.header__buttonWhite
	margin: 35px auto
	width: 100%
	text-align: center

.buttonWhite
	background: none
	border: 1px solid #fff
	color: #fff
	padding: 10px 25px
	font-size: 15px
	font-family: "Open Sans", sans-serif
	text-transform: uppercase
	-webkit-transition: 0.4s all
	-moz-transition: 0.4s all
	-o-transition: 0.4s all
	transition: 0.4s all
	&:hover
		background: #fff
		color: #ff3f2b



.content
	margin: 6% 0 20px

.content__subtitle
	font-size: 50px
	font-family: "Calibri", sans-serif
	color: #fff
	text-align: center
	font-weight: 100
	margin: 0
	text-transform: uppercase

.content__title
	font-size: 80px
	font-family: "Open Sans", sans-serif
	color: rgba(255, 63, 43, 0.8)
	margin: 0
	text-align: center
	line-height: 1
	font-weight: bold
	text-transform: uppercase

.content__tools
	width: 555px
	margin: 20px auto

.tools_one
	display: block
	background: rgba(255, 63, 43, 0.7)
	color: #fff
	font-size: 20px
	text-transform: uppercase
	text-align: center
	padding: 11px 20px
	width: 100%
	-webkit-transition: 0.4s all
	-moz-transition: 0.4s all
	-o-transition: 0.4s all
	transition: 0.4s all
	cursor: pointer
	&:hover
		background: rgba(255, 255, 255, 0.7)
		color: #ff3f2b

.tools_two, .tools_three
	width: 100%
	background: rgba(255, 63, 43, 0.7)
	color: #fff
	padding: 11px 0
	margin: 5px 0 0
	overflow: hidden

.tools_two h3
	font-size: 18px
	margin: 0
	text-align: center
	text-transform: uppercase
	font-weight: 100
	padding-bottom: 9px

.tools_three
	h3
		font-size: 18px
		margin: 0
		text-align: center
		text-transform: uppercase
		font-weight: 100
		padding-bottom: 9px
	margin: 0

.tools_two
	margin: 5px 0 0
	display: none
	opacity: 1
	-moz-transition: opacity 0.5s ease-in-out
	-webkit-transition: opacity 0.5s ease-in-out
	transition: opacity 0.5s ease-in-out

.tools__item
	font-size: 18px
	cursor: pointer
	&:hover
		text-decoration: underline

.tools__list
	padding: 0 10px

.button__tools
	width: 100%
	margin: 0
	text-align: center
	button
		background: #fff
		border: 1px solid #fff
		color: #ff3f2b
		padding: 10px 25px
		font-size: 15px
		margin: 10px 0
		font-family: "Open Sans", sans-serif
		text-transform: uppercase
		-webkit-transition: 0.4s all
		-moz-transition: 0.4s all
		-o-transition: 0.4s all
		transition: 0.4s all
		&:hover
			background: none
			color: #fff

.footer
	width: 100%
	margin: 50px 0 0
	position: fixed
	bottom: 0
	z-index: 5

.nav__item
	display: inline-block
	padding: 5px 25px
	border: 1px solid transparent
	&:hover
		border: 1px solid #fff

.footer__nav
	text-align: center
	padding-top: 10px

.nav__link
	color: #fff
	text-transform: uppercase
	font-size: 14px
	font-weight: 100

.main__header
	position: relative
	z-index: 1
	height: 107px
	overflow: hidden

.header_navigation
	position: fixed
	right: -29%
	top: 0
	width: 29%
	background: rgba(50, 49, 49, 0.81)
	height: 100vh
	text-align: left
	padding: 20px 20px 0
	-webkit-transition: 0.4s all
	-moz-transition: 0.4s all
	-o-transition: 0.4s all
	transition: 0.4s all

.close
	text-align: right
	img
		width: 40px

.navigation__navbar
	margin: 60px 0 40px

.navbar__item
	border-bottom: 1px solid rgba(255, 255, 255, 0.3)
	margin: 0
	padding: 20px 0

.navbar__link
	color: #fff
	font-size: 16px
	text-transform: uppercase
	&:hover
		color: #fc7567

.sosial__item
	display: inline-block
	padding: 10px 40px 0 0

.sosial__link
	font-size: 20px
	color: #fff

#hamburger
	display: none

.menuicon
	position: absolute
	top: 44px
	left: 51px
	display: block
	cursor: pointer
	height: 21px
	width: 25px
	z-index: 5
	span
		display: block
		top: 8px
		width: 30px
		height: 2px
		background-color: #fff
		position: relative
		-webkit-transition-duration: 0
		-moz-transition-duration: 0
		-ms-transition-duration: 0
		-o-transition-duration: 0
		transition-duration: 0
		-webkit-transition-delay: 0.2s
		-moz-transition-delay: 0.2s
		-ms-transition-delay: 0.2s
		-o-transition-delay: 0.2s
		transition-delay: 0.2s
		&::after
			display: block
			content: ""
			position: absolute
			width: 30px
			height: 2px
			background-color: #fff
			-webkit-transition-property: margin, -webkit-transform
			-webkit-transition-duration: 0.2s
			-moz-transition-duration: 0.2s
			-ms-transition-duration: 0.2s
			-o-transition-duration: 0.2s
			transition-duration: 0.2s
			-webkit-transition-delay: 0.2s, 0
			-moz-transition-delay: 0.2s, 0
			-ms-transition-delay: 0.2s, 0
			-o-transition-delay: 0.2s, 0
			transition-delay: 0.2s, 0
		&::before
			display: block
			content: ""
			position: absolute
			width: 30px
			height: 2px
			background-color: #fff
			-webkit-transition-property: margin, -webkit-transform
			-webkit-transition-duration: 0.2s
			-moz-transition-duration: 0.2s
			-ms-transition-duration: 0.2s
			-o-transition-duration: 0.2s
			transition-duration: 0.2s
			-webkit-transition-delay: 0.2s, 0
			-moz-transition-delay: 0.2s, 0
			-ms-transition-delay: 0.2s, 0
			-o-transition-delay: 0.2s, 0
			transition-delay: 0.2s, 0
			margin-top: -8px
		&::after
			margin-top: 8px

#hamburger:checked ~
	.header_navigation
		right: 0
	.header__menu
		background: none !important
		&:before
			background: none !important
	.menuicon
		right: 40px
		left: auto
		span
			background-color: rgba(0, 0, 0, 0)
			&::before, &::after
				margin-top: 0px
				-webkit-transition-delay: 0, 0.2s
				-moz-transition-delay: 0, 0.2s
				-ms-transition-delay: 0, 0.2s
				-o-transition-delay: 0, 0.2s
				transition-delay: 0, 0.2s
			&::before
				-webkit-transform: rotate(45deg)
				-moz-transform: rotate(45deg)
				-ms-transform: rotate(45deg)
				-o-transform: rotate(45deg)
				transform: rotate(45deg)
			&::after
				-webkit-transform: rotate(-45deg)
				-moz-transform: rotate(-45deg)
				-ms-transform: rotate(-45deg)
				-o-transform: rotate(-45deg)
				transform: rotate(-45deg)

#block
	opacity: 0
	position: absolute

.cleatfix
	margin: 24px 0

#block:checked ~
	.tools_two
		display: block
	.tabs
		display: flex

.listing
	padding: 40px 0

.listing__filter
	.col-md-3
		width: 22%
	.col-md-4
		width: 25.333333%
	.col-md-6
		width: 43%

.listing__title
	color: #4a4a4a
	font-size: 30px
	text-transform: uppercase
	font-weight: 100
	h3
		font-weight: 100
		margin: 0
		font-size: 30px

.listing__filter
	margin: 20px auto 70px
	overflow: hidden
	width: 100%

.filter__select
	border: 1px solid #494949
	padding: 10px 14px
	width: 100%
	color: #494949
	text-transform: uppercase

.filter__input input
	border: 1px solid #494949
	padding: 10px 14px
	width: 100%
	color: #494949
	text-transform: uppercase
	color: #494949
	width: 100%
	text-transform: uppercase

.select__option
	&:hover, &:active
		background-color: #c94234
		color: #fff

.button__submit
	background: #c94234
	color: #fff
	border: 1px solid #c94234
	text-transform: uppercase
	padding: 10px 25px
	&:hover
		background: #fff
		color: #000

.listing__events
	margin: 20px 0
	overflow: hidden
	width: 100%

.events_item
	width: 100%
	height: 240px
	position: relative
	cursor: pointer
	margin-bottom: 40px
	&:hover .opacity
		background: none

.events_bottom-text
	background: #c94234
	color: #fff
	position: absolute
	bottom: 0
	padding: 14px
	width: 100%
	margin: 0
	font-size: 18px
	span
		float: right

.bg-img_one
	background: url("../img/events-red1.jpg") no-repeat center center
	background-size: cover
	-webkit-transition: all 0.3s
	-o-transition: all 0.3s
	-moz-transition: all 0.3s
	transition: all 0.3s
	&:hover
		background: url("../img/event_3.jpg") no-repeat center center
		background-size: cover

.bg-img_two
	background: url("../img/events-red2.jpg") no-repeat center center
	background-size: cover
	-webkit-transition: all 0.3s
	-o-transition: all 0.3s
	-moz-transition: all 0.3s
	transition: all 0.3s
	&:hover
		background: url("../img/event_1.jpg") no-repeat center center
		background-size: cover

.bg-img_three
	background: url("../img/events-red3.jpg") no-repeat center center
	background-size: cover
	-webkit-transition: all 0.3s
	-o-transition: all 0.3s
	-moz-transition: all 0.3s
	transition: all 0.3s
	&:hover
		background: url("../img/event.jpg") no-repeat center center
		background-size: cover

.events__number
	position: absolute
	background: #fff
	font-size: 20px
	padding: 5px
	left: 20px
	top: 20px
	color: #c94234
	text-align: center
	width: 60px
	height: 60px
	text-transform: uppercase
	h5
		margin: 0 10px
		border-bottom: 1px solid #c94234
		font-size: 16px
		padding-bottom: 4px
		font-weight: 100
	p
		font-size: 15px
		margin: 0
		padding-top: 5px

.back
	width: 100%
	padding: 0 15px
	a
		border: 1px solid #000
		padding: 8px 20px
		text-transform: uppercase
		color: #000
		&:hover
			background: #fff
		i
			font-size: 15px
			font-weight: 100
			padding-right: 5px

.events__adress-time-price
	margin: 10px 0
	padding: 0

.adress-time-price__item
	display: inline-block
	margin: 10px 0
	font-size: 20px
	color: #494949
	width: 48%
	i
		padding-right: 5px
		color: #c94234

.description-text
	font-size: 20px
	color: #494949
	font-size: 18px
	margin-top: 40px

.text-left
	text-align: left

.right
	float: right

.events__buttons
	width: 100%
	margin-top: 40px
	overflow: hidden

.button-red
	background: #c94234
	border: 1px solid #c94234
	text-transform: uppercase
	color: #fff
	padding: 8px 20px
	font-size: 16px
	font-weight: 100s
	i
		padding-left: 5px
	&:hover
		background: #fff
		color: #000

.active
	border: 1px solid #fff

.block div
	display: none

.contact__form
	margin: 40px 0

.form__input
	margin: 16px 0
	position: relative
	label
		width: 100%
		font-weight: bold
		font-size: 16px
		margin: 5px 0
	span
		position: absolute
		background: #c94234
		padding: 10px
		color: #fff
		width: 43px
		height: 98%
		text-align: center

.input__item, .input__textarea
	width: 100%
	padding: 10px 20px
	border: 1px solid #7d7d7d

.input__item
	&:hover, &:active
		border: 1px solid #c94234

.input__textarea
	&:hover, &:active
		border: 1px solid #c94234

.input__item::placeholder, .input__textarea::placeholder
	color: #494949

.form__submit
	text-align: center

.button-submit
	border: 1px solid #494949
	padding: 10px 80px
	color: #494949
	background: none
	font-size: 20px
	-webkit-transition: all 0.3s
	-o-transition: all 0.3s
	transition: all 0.3s
	&:hover
		background: #c94234
		color: #fff
		border: 1px solid #c94234

.contact__address
	padding: 0 40px
	margin: 40px 0

.adress__item
	i
		color: #c94234
		float: left
		font-size: 20px
		padding-right: 20px
	p
		font-size: 20px

.contact__sosial
	border-top: 1px solid #494949
	padding: 0px 0 0
	text-align: center
	margin: 0 40px

.sosial__item
	display: inline-block
	padding: 20px 10px 0
	a
		color: #c94234
		font-size: 30px
		&:hover
			color: #494949

.contact__desck
	margin: 20px 0
	p
		font-size: 30px
		text-align: center



.about__slider
	width: 95%

.slider__img
	width: 107%
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%)
	clip-path: polygon(0% 0%, 96% 0%, 74% 100%, 0% 100%)
	height: 84vh


.about__text
	padding: 40px 0
	p
		font-size: 18px