body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42857;
  background-size: cover;
  height: 100vh; }



.wrapper {
  position: relative;
  min-height: 100%; }

.main__listing {
  background: url("../img/listing-bg.png") no-repeat;
  background-size: cover; }

.silver_bg, .silver_bg_footer {
  background: #494949; }

ul {
  list-style: none;
  padding: 0; }

a, a:hover {
  text-decoration: none; }

.padding-none {
  padding: 0; }

.header__logo {
  background: rgba(255, 63, 43, 0.7);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  text-align: center;
  padding: 17px 0; }

.header__menu {
  background: rgba(255, 63, 43, 0.7);
  text-align: center;
  padding: 44px 0 43px;
  width: 100%;
  float: right;
  position: relative; }
  .header__menu::before {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 106px solid rgba(255, 63, 43, 0.7);
    border-left: 62px solid transparent;
    left: -62px;
    top: -42px;
    bottom: 0; }

#menu-button {
  padding: 0 100px 0;
  transition: background 750ms ease-in-out;
  user-select: none;
  cursor: pointer;
  transition: transform 50ms;
  transform: scale(0.95); }

.hamburger {
  position: relative;
  width: 0px;
  height: 20px;
  transition: transform 750ms ease-in-out; }

#menu-button:active .hamburger {
  transition: transform 50ms;
  transform: scale(0.95); }

.hamburger::before, .hamburger::after, .hamburger .inner {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fff;
  transform-origin: 100% 50%;
  transition: all 750ms ease-in-out; }
.hamburger::before {
  top: -1px; }
.hamburger .inner {
  top: 9px;
  transform-origin: 50% 50%;
  height: 1px; }
.hamburger::after {
  top: 19px; }

.menu-open .hamburger {
  transform: rotateY(-180deg); }
.menu-open #menu-button:active .hamburger {
  transform: scale(0.95) rotateY(-180deg); }
.menu-open .hamburger::before, .menu-open .hamburger::after, .menu-open .hamburger .inner {
  background: #29252f; }
.menu-open .hamburger::before {
  transform: translate3d(-4px, 1px, 0) rotateZ(-45deg); }
.menu-open .hamburger .inner {
  transform: rotateY(-90deg);
  transition: transform 375ms, background-color 750ms ease-in-out; }
.menu-open .hamburger::after {
  transform: translate3d(-4px, -1px, 0) rotateZ(45deg); }

.header__buttonWhite {
  margin: 35px auto;
  width: 100%;
  text-align: center; }

.buttonWhite {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 9px 25px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all; }
  .buttonWhite:hover {
    background: #fff;
    color: #ff3f2b; }

.content {
    padding: 14% 0 0;
    height: 93vh;

  }
.scroll img{
	position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: -55px 0;
        bottom: 18%;
}
.content__subtitle {
  font-size: 30px;
  font-family: "Calibri", sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 100;
  margin: 0;
  text-transform: uppercase; }

.content__title {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 63, 43, 0.8);
  margin: 0;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase; }

.content__tools {
  width: 700px;
  margin: 20px auto;
  }

.tools_one {
  display: block;
  background: rgba(255, 63, 43, 0.7);
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  width: 100%;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  cursor: pointer; }
  .tools_one:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #ff3f2b; }

.tools_two, .tools_three {
  width: 100%;
  color: #fff;
  padding: 11px 0;
  margin: 5px 0 0;
  overflow: hidden; }

.tools_two h3 {
  font-size: 18px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 9px; }

.tools_three {
  margin: 0; }
  .tools_three h3 {
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    padding-bottom: 9px; }

.tools_two {
  margin: 5px 0 0;
  display: none;
  opacity: 1;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }

.tools__item {
  font-size: 16px;
  cursor: pointer; }
  .tools__item:hover {
    text-decoration: underline; }

.tools__list {
  padding: 0 10px; }

.button__tools {
  width: 100%;
  margin: 0;
  text-align: center; }
  .button__tools button {
    background: #fff;
    border: 1px solid #fff;
    color: #ff3f2b;
    padding: 10px 25px;
    font-size: 15px;
    margin: 18px 0 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all; }
    .button__tools button:hover {
      background: none;
      color: #fff; }

.footer {
  width: 100%;
  margin: 50px 0 0;
  position: fixed;
  bottom: 0;
  z-index: 5; }

.nav__item {
  display: inline-block;
  padding: 5px 25px;
  border: 1px solid transparent; }
  .nav__item:hover {
    border: 1px solid #fff; }
  .nav__item:hover a {
    color: #fff;
    text-decoration: none; }

.footer__nav {
  text-align: center;
  padding-top: 0px; 
  margin: 7px;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100; }
  .nav__link:hover {
    color: #fff; }

.main__header {
  position: relative;
  z-index: 1;
  height: 107px;
}

.header_navigation {
  position: fixed;
  right: -29%;
  top: 0;
  width: 29%;
  background: rgba(50, 49, 49, 0.81);
  height: 100vh;
  text-align: left;
  padding: 20px 20px 0;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all; }

.close {
  text-align: right; }
  .close img {
    width: 40px; }

.navigation__navbar {
  margin: 60px 0 40px; }

.navbar__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0;
  padding: 20px 0; }

.navbar__link {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase; }
  .navbar__link:hover {
    color: #fc7567; }

.sosial__item {
  display: inline-block;
  padding: 10px 40px 0 0; }

.sosial__link {
  font-size: 20px;
  color: #fff; }

#hamburger {
  display: none; }

.menuicon {
  position: absolute;
  top: 44px;
  left: 51px;
  display: block;
  cursor: pointer;
  height: 21px;
  width: 25px;
  z-index: 5; }
  .menuicon span {
    display: block;
    top: 8px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: relative;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; }
    .menuicon span::after {
      display: block;
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #fff;
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0;
      -moz-transition-delay: 0.2s, 0;
      -ms-transition-delay: 0.2s, 0;
      -o-transition-delay: 0.2s, 0;
      transition-delay: 0.2s, 0; }
    .menuicon span::before {
      display: block;
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #fff;
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -ms-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0;
      -moz-transition-delay: 0.2s, 0;
      -ms-transition-delay: 0.2s, 0;
      -o-transition-delay: 0.2s, 0;
      transition-delay: 0.2s, 0;
      margin-top: -8px; }
    .menuicon span::after {
      margin-top: 8px; }

#hamburger:checked ~ .header_navigation {
  right: 0; }
#hamburger:checked ~ .header__menu {
  background: none !important; }
  #hamburger:checked ~ .header__menu:before {
    background: none !important; }
#hamburger:checked ~ .menuicon {
  right: 40px;
  left: auto; }
  #hamburger:checked ~ .menuicon span {
    background-color: rgba(0, 0, 0, 0); }
    #hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after {
      margin-top: 0px;
      -webkit-transition-delay: 0, 0.2s;
      -moz-transition-delay: 0, 0.2s;
      -ms-transition-delay: 0, 0.2s;
      -o-transition-delay: 0, 0.2s;
      transition-delay: 0, 0.2s; }
    #hamburger:checked ~ .menuicon span::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    #hamburger:checked ~ .menuicon span::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#block {
  opacity: 0;
  position: absolute; }

.cleatfix {
  margin: 24px 0; }

#block:checked ~ .tools_two {
  display: block; }
#block:checked ~ .tabs {
  display: flex; }

.listing {
  padding: 40px 0; }

.listing__filter .col-md-3 {
  width: 22%; }
.listing__filter .col-md-4 {
  width: 25.333333%; }
.listing__filter .col-md-6 {
  width: 43%; }

.listing__title {
  color: #4a4a4a;
  font-size: 30px;
  font-weight: 100; }
  .listing__title h3 {
    font-weight: 100;
    margin: 0;
    font-size: 30px;
      text-transform: uppercase; }
      .listing__title h4 {
    font-weight: 100;
    margin: 0;
    font-size: 18px
    text-transform: capitalize;;
    margin: 40px 0 0; }

.listing__filter {
  margin: 20px auto 70px;
  overflow: hidden;
  width: 100%; }

.filter__select {
  border: 1px solid #494949;
  padding: 10px 14px;
  width: 100%;
  color: #494949;
  text-transform: uppercase; }

.filter__input input {
  border: 1px solid #494949;
  padding: 10px 14px;
  width: 100%;
  color: #494949;
  text-transform: uppercase;
  color: #494949;
  width: 100%;
  text-transform: uppercase; }

.select__option:hover, .select__option:active {
  background-color: #c94234;
  color: #fff; }

.button__submit  {
  background: #c94234;
  color: #fff;
  border: 1px solid #c94234;
  text-transform: uppercase;
  padding: 10px 25px; }
  .button__submit:hover {
    background: #fff;
    color: #000; }

.button__submit_white  {
  background: #c94234;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 10px 25px; }
  .button__submit_white:hover {
    background: #fff;
    color: #000; 
    border-top: 1px solid #c94234;}

.listing__events {
  margin: 40px 0 20px;
  overflow: hidden;
  width: 100%; }

.events_item {
  width: 100%;
  height: 240px;
  position: relative;
  cursor: pointer;
  margin-bottom: 40px; }
  .events_item:hover .opacity {
    background: none; }

.events_bottom-text {
  background: #c94234;
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 14px 10px;
  width: 100%;
  margin: 0;
  font-size: 18px; }

.events_bottom-text p{
  margin: 0;
}
  .events_bottom-text span {
    float: right; 
    padding: 10px 0;
    position: relative;}
 .events_bottom-text span i{
  padding: 0 0 0 40px;
    font-size: 25px;
    position: absolute;
 }
.bg-img_one {
  background: url("../img/events-red1.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .bg-img_one:hover {
    background: url("../img/event_3.jpg") no-repeat center center;
    background-size: cover; }

.bg-img_two {
  background: url("../img/events-red2.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .bg-img_two:hover {
    background: url("../img/event_1.jpg") no-repeat center center;
    background-size: cover; }

.bg-img_three {
  background: url("../img/events-red3.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .bg-img_three:hover {
    background: url("../img/event.jpg") no-repeat center center;
    background-size: cover; }

.bg-img_four {
  background: url("../img/1s.png") no-repeat center center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .bg-img_four:hover {
    background: url("../img/1v.png") no-repeat center center;
    background-size: cover; }

.bg-img_five {
  background: url("../img/2s.png") no-repeat center center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .bg-img_five:hover {
    background: url("../img/2v.png") no-repeat center center;
    background-size: cover; }

.bg-img_six {
  background: url("../img/3s.png") no-repeat center center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .bg-img_six:hover {
    background: url("../img/3v.png") no-repeat center center;
    background-size: cover; }




.bg-img_1 {
  background: url("../img/event_3.jpg") no-repeat center center;
  background-size: cover; }
  .bg-img_2 {
  background: url("../img/event_1.jpg") no-repeat center center;
  background-size: cover; }
  .bg-img_3 {
  background: url("../img/event.jpg") no-repeat center center;
  background-size: cover; }
  .bg-img_4 {
  background: url("../img/post-6.jpg") no-repeat center center;
  background-size: cover;
      background-position: 0px 0; }

  .bg-img_5 {
  background: url("../img/post-5.jpg") no-repeat center center;
  background-size: cover; }
  .bg-img_6 {
  background: url("../img/event-6.jpg") no-repeat center center;
  background-size: cover; }


.events__number {
  position: absolute;
  background: #fff;
  font-size: 20px;
  padding: 5px;
  left: 20px;
  top: 20px;
  color: #c94234;
  text-align: center;
  width: 60px;
  height: 60px;
  text-transform: uppercase; }
  .events__number h5 {
    margin: 0 10px;
    border-bottom: 1px solid #c94234;
    font-size: 16px;
    padding-bottom: 4px;
    font-weight: 100; }
  .events__number p {
    font-size: 15px;
    margin: 0;
    padding-top: 5px; }

.back {
  width: 100%;
   }
  .back a {
    border: 1px solid #000;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000; 
      display: block;
    width: 100px;}
    .back a:hover {
      background: #fff; }
    .back a i {
      font-size: 15px;
      font-weight: 100;
      padding-right: 5px; }

.events__adress-time-price {
  margin: 10px 0;
  padding: 0; }

.adress-time-price__item {
  display: inline-block;
  margin: 10px 0;
  font-size: 20px;
  color: #494949;
  width: 48%; }
  .adress-time-price__item i {
    padding-right: 5px;
    color: #c94234; }

.description-text {
  font-size: 20px;
  color: #494949;
  font-size: 18px;
  margin-top: 40px; }

.text-left {
  text-align: left; }

.right {
  float: right; }
.left {
  float: left; }

.events__buttons {
  width: 100%;
  padding-top: 40px;
  overflow: hidden; }

.button-red {
  background: #c94234;
  border: 1px solid #c94234;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 100s; }
  .button-red i {
    padding-left: 5px; }
  .button-red:hover {
    background: #fff;
    color: #000; }

.active {
  border: 1px solid #fff; }

.block div {
  display: none; }

.contact__form {
  margin: 40px 0; }

.form__input {
  margin: 12px 0;
  position: relative; }
  .form__input label {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0; }
  .form__input span {
    position: absolute;
    background: #c94234;
    padding: 10px;
    color: #fff;
    width: 43px;
    height: 98%;
    text-align: center; }

.input__item, .input__textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #7d7d7d;
  position: relative; }


.input__select{
  width: 100%;
  padding: 9px 20px;
  border: 1px solid #7d7d7d;
  position: relative; }


.input__item:hover, .input__item:active {
  border: 1px solid #c94234; }

.input__textarea:hover, .input__textarea:active {
  border: 1px solid #c94234; }

.input__item::placeholder, .input__textarea::placeholder {
  color: #494949; }

.form__submit {
  text-align: center; }

.button-submit {
  border: 1px solid #494949;
  padding: 10px 80px;
  color: #494949;
  background: none;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .button-submit:hover {
    background: #c94234;
    color: #fff;
    border: 1px solid #c94234; }

.contact__address {
  padding: 0 40px;
  margin: 40px 0; }

.adress__item i {
  color: #c94234;
  float: left;
  font-size: 20px;
  padding-right: 20px; }
.adress__item p {
  font-size: 20px; }

.contact__sosial {
  border-top: 1px solid #494949;
  padding: 0px 0 0;
  text-align: center;
  margin: 0 40px; }

.sosial__item {
  display: inline-block;
  padding: 20px 10px 0; }
  .sosial__item a {
    color: #c94234;
    font-size: 30px; }
    .sosial__item a:hover {
      color: #494949; }

.contact__desck {
  margin: 10px 0; }
  .contact__desck p {
    font-size: 20px;
    text-align: center;
margin: 0;}

.about__slider {
  width: 94%; }

.slider__img {
  width: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 96% 0%, 74% 100%, 0% 100%);
}

.about__text {
  padding: 40px 0; }
  .about__text .listing__title {
    padding-bottom: 30px; }
  .about__text p {
    font-size: 18px; }


.overlay {
  display:none; 
  position:fixed; 
  z-index:999; 
  opacity:0.5; 
  filter:alpha(opacity=50); 
  top:0; 
  right:0; 
  left:0; 
  bottom:0; 
  background:#000;
   }
.popup {
  display:none; 
  position:fixed;  
  background: #fff;
  width: 500px;  
  top: 34%;
  z-index:1000;   
  padding:10px 30px;
left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);}
.close {
  display:block; 
  width:24px; 
  text-align:center; 
  cursor:pointer;  
  height:24px; 
  line-height:24px; 
  color: #c94234; 
  position:absolute; 
  top:10px; 
  right:10px; 
  text-decoration:none; 
  border-radius:3px; 
  font-size:15px; }

.form-popup p{
  font-size: 16px;
  color: #333;
  line-height: 25px;
}
.form-popup__item{
  margin: 10px 18px 10px 0px
}
.form-popup__item label{
  color: #333;
  font-size: 14px;
  font-weight: 600;
  width: 50px;
  float: left;
}
.form-popup__item input{
  padding: 3px;
  width: 85%;
}

.form-popup__button{
  width: 100%;
  margin: 20px 0 14px;
  text-align: center;
    overflow: hidden;
}

.contact__container{
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}








/*ANIMATION*/

.tools{
    width: 700px;
    margin: 20px auto 80px;
    position: relative;
  z-index: 0;
}
.grid {
    padding: 0
    max-width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    width: 90%;
    margin: 0;
    padding: 0px;
    z-index: 1;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
  
}


.grid figcaption {
    position: absolute;
    top: 60px;
    left: 0;

    padding: 20px 0;
    background: rgba(255, 63, 43, 0.7);
    color: #fff;
    border: none;}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.grid figcaption span:before {
    content: 'by ';
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}

/* Caption Style 4 */
.cs-style-4 li {
    -webkit-perspective: 999px;
    -moz-perspective:999px;
    perspective: 999px;
    -webkit-perspective-origin: 50%;
    -moz-perspective-origin: 50%;
    perspective-origin:50%;
}

.cs-style-4 figure {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cs-style-4 figure .rok {
    overflow: hidden;
    background: rgba(255, 63, 43, 0.7);
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
     -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 width: 91%;
    margin: 0 auto 6px;


}
.cs-style-4 figure .rok:hover {
   -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);


    

}
.cs-style-4 .act {
   -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 

}

.cs-style-4 figcaption {
    width: 100%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.cs-style-4 .active {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    
    position: relative; 
    top: 0;    
    margin: 0 0 4px;
    overflow:   hidden; 

}


.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;

}
.tabs li{
    margin:0 10px;
    padding: 10px 20px 5px;
    cursor: pointer;
    font-size:1.2em;
    color:#FFF;
    width: 100%;
}
.tabs li:hover {
    text-decoration: underline;
    }
.tabs li.current{
    text-decoration: underline;
    
}
.tab-content{
    background: rgba(255, 63, 43, 0.7);
    padding: 15px;
    line-height:1.4;
    color: #fff;
    position: absolute;
    top: 196px;
    left: 0;
    padding: 30px 0 7px;
    width: 100%;
    -webkit-perspective: 999px;
    -moz-perspective: 999px;
    perspective: 999px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-97deg);
    -moz-transform: rotateX(-97deg);
    transform: rotateX(-97deg);
   -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition:  opacity 0.4s ;
        overflow: hidden


}
.tab-content.current{
     border-top: 1px solid #2f2e2e;
     opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition:  opacity 0.4s ;
     position: relative; 
     top: 0;

   
}


.tabs__title{
  font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    padding-bottom: 9px;
}


.label__red{
  border: 1px solid #c94234;
  padding: 8px 20px;
  top: 0;
  position: absolute;
  color: #c94234;
  z-index: 0;
  font-weight: 100!important;
}

.opacity{
  opacity: 0;
  z-index: 1;

}
.opacity:hover .label__red{
   color: #4a4a4a;
}


.big{
  padding: 8px 40px
}
.mb{
  margin-bottom: 30px;
}
.blog_more__add_rase {
 padding: 40px 0;
 overflow: hidden;
}
.blog_more__add_rase{
  padding-left: 75px;
}

.margin{
  margin: 10px 0;
}

.forms__registation{
  padding: 60px 0 0;
  width: 100%;
  overflow: hidden;
}
.registation__item{
  border: 1px solid #494949;
  padding: 40px 60px;
  overflow: hidden;
}


.text-red{
  text-transform: uppercase;
  color: #c94234;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;

}
.margin-btn{
  margin: 30px 0 20px;
}

.silver-text{
  color: #4a4a4a;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
}

.form__input a{
  text-align: right;
  display: block;
  margin: 13px 0;
  color: #838383;
  font-size: 14px;
  text-align: right;
  text-decoration: underline;
}


.right  i, .left i{
  padding-right: 8px;
}

.sosial-bnt{
  text-transform: capitalize;
}


.callendar{
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 18px;
  color: #838383;
}


.blog_back {
  display: flex; }
.blog_back .blog_back_btn {
  border: 1px solid #4a4a4a;
  font-size: 15px;
  color: #4a4a4a;
  background-color: #fff;
  padding: 9px 21px;
  transition: all .2s; }
.blog_back .blog_back_btn:hover {
 color: #fff;
  background-color: #4a4a4a; }

.profile{
  margin: 40px 0;
}


.profile__btn{
  width: 100%;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}

.profile__tab {
    display: inline-block;
    padding: 9px 20px;
    margin: 0 26px;
    cursor: pointer;
    background: #fffdfe;
    text-transform: uppercase;
    width: 24%;
    border: 1px solid #494949;
    color: #494949;
}


.visible, .open_tab {
    display: block;
}


.active-tab, .profile__tab:hover{
  border: 1px solid #c94234;
  color: #fff;
  background: #c94234;
}



.profile__select{
  width: 100%
  margin: 10px 0;
  float: left;

}


.profile__select {
    width: 100%;
    float: right;
    margin: 20px 17px;
}

.profile__select select{
    border: 1px solid #494949;
    padding: 6px 20px 6px 10px;
    font-size: 12px;
    float: right;
}
 

 .delete_race{
    position: relative;
 }
.margin-left{
  margin-right: 140px;

}

.user-active{
  background: #fff;
  color: #494949;
}

.user-active-no{
  color: #fff;
  border: none;
}

.buttonWhite i{
  padding-right: 5px;
}
 .delete_race a{
    position: absolute;
    float: right;
    right: 18px;
    top: 18px;
    color: #c94234;
    padding: 4px 10px;
    background: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: -1px;
 }
 .delete_race a i{
    padding-right: 4px;
 }


 .delete_race a:hover{
    background: #c94234;
    color: #fff;
  }


.listing__table{
  width: 100%;
  margin: 20px 0 0;
}

.table__body{
  background: #e8e8e8;
  padding: 10px 0px;
  color: #F44336;
  border-right: 1px solid #484747;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  text-align: center;
  width: 19%;
  font-size: 18px;
  cursor: pointer;
}
.table__header{
    background: #484747;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-size: 14px;
    border-right: 1px solid #fff;
    border-bottom: 2px solid #fff;
    text-align: center;

}

.table__right{
  border-right: none;
  padding: 0 10px;
}
   


.green{
  color: #28bc44;
  padding: 10px;
}

.visible{
  display: none;
}


.add-event{
  position: absolute;
  top: 20px;
  right: 20px;
  color: #c94234;
  font-size: 20px;
  background: #fff;
  padding: 10px 20px
}


