body .wrapper .blog {
  padding: 40px 0; }
  body .wrapper .blog .blog_title {
    font-size: 30px;
    text-align: center; }
  body .wrapper .blog .blog_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body .wrapper .blog .blog_block .blog_box {
      display: flex;
      flex-direction: column;
      border: 1px solid #a4a4a4;
      background-color: #fff;
      width: 32%;
      margin: 10px 0; }
      body .wrapper .blog .blog_block .blog_box .blog_info {
        display: flex;
        flex-direction: column; }
        body .wrapper .blog .blog_block .blog_box .blog_info .blog_image {
          display: flex;
          align-items: flex-end;
          height: 300px; }
          body .wrapper .blog .blog_block .blog_box .blog_info .blog_image .blog_box_title {
            background-color: #c94234;
            color: #fff;
            margin: 0;
            text-align: center;
            padding: 15px 30px;
            width: 100%; }
        body .wrapper .blog .blog_block .blog_box .blog_info .blog_author {
          display: flex;
          justify-content: space-between;
          color: #a4a4a4;
          padding: 15px; }
          body .wrapper .blog .blog_block .blog_box .blog_info .blog_author .blog_author_name {
            font-size: 14px;
            margin: 0; }
          body .wrapper .blog .blog_block .blog_box .blog_info .blog_author .blog_author_date {
            font-size: 14px;
            margin: 0; }
        body .wrapper .blog .blog_block .blog_box .blog_info .blog_text {
          font-size: 16px;
          padding: 0 15px; }
      body .wrapper .blog .blog_block .blog_box .blog_btn {
        display: flex; }
        body .wrapper .blog .blog_block .blog_box .blog_btn .blog_btn_link {
          margin: 20px auto;
          padding: 8px 28px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
          color: #fff;
          background-color: #c94234;
          border: 1px solid #c94234;
          transition: all .2s; }
          body .wrapper .blog .blog_block .blog_box .blog_btn .blog_btn_link:hover {
            background-color: transparent;
            color: #c94234; }
  body .wrapper .blog .blog_pagin {
    margin: 35px auto 20px;
    text-align: center; }
    body .wrapper .blog .blog_pagin .pagination_list .pagination_item .pagination_link {
      border: 1px solid #a4a4a4;
      border-radius: 0;
      color: #4a4a4a;
      font-size: 18px;
      width: 34px;
      height: 34px;
      padding: 3px; }
    body .wrapper .blog .blog_pagin .pagination_list .pagination_item .pagination_link:focus, body .wrapper .blog .blog_pagin .pagination_list .pagination_item .pagination_link:hover, body .wrapper .blog .blog_pagin .pagination_list .pagination_item .pagination_link > span:focus, body .wrapper .blog .blog_pagin .pagination_list .pagination_item .pagination_link > span:hover {
      background-color: #c94234;
      color: #fff; }

body .wrapper .blog_more {
  padding: 40px 0; }
  body .wrapper .blog_more .blog_back {
    display: flex; }
    body .wrapper .blog_more .blog_back .blog_back_btn {
      border: 1px solid #4a4a4a;
      font-size: 15px;
      color: #4a4a4a;
      background-color: #fff;
      padding: 9px 21px;
      transition: all .2s; }
      body .wrapper .blog_more .blog_back .blog_back_btn:hover {
        color: #fff;
        background-color: #4a4a4a; }
  body .wrapper .blog_more .blog_more_box {
    padding: 40px 0; }
    body .wrapper .blog_more .blog_more_box .blog_more_image {
      width: 300px;
      height: 250px;
      float: left;
      margin: 0 30px 20px 0px; }
    body .wrapper .blog_more .blog_more_box .blog_more_info .blog_more_title {
      font-size: 30px;
      margin: 0; }
    body .wrapper .blog_more .blog_more_box .blog_more_info .blog_more_author {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      color: #838383; }
      body .wrapper .blog_more .blog_more_box .blog_more_info .blog_more_author .blog_more_name, body .wrapper .blog_more .blog_more_box .blog_more_info .blog_more_author .blog_more_date {
        font-size: 14px; }
    body .wrapper .blog_more .blog_more_box .blog_more_info .blog_more_text {
      font-size: 16px; }
