/*==========  Desktop First Method  ==========*/
#video-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    background: url('../img/bg.jpg') no-repeat #94a233;
    background-size: cover;
}

#video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 0 140px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
     z-index: -1000;
     overflow: hidden;
}

 @supports (object-fit: cover) {
     #video-bg > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 118%;
         object-fit: cover;
     }
 }

/*
 .tabs {
	position: relative;
	margin: 0 auto;
    display:  flex;
    flex-wrap:  wrap;
    display: none;
    	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;

}
.tabs label {
	color: #555;
    cursor: pointer;
    height: 33px;
    line-height: 13px;
    position: relative;
    top: 0;
    font-size: 18px;
    background: rgba(255, 63, 43, 0.7);
    color: #fff;
    flex: 1 0 50%;
    padding-left: 51px;
}
.tabs label:hover{
	text-decoration: underline;
}
.tabs  input {
	flex: 0;
    opacity: 0;
    width: 20%;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3,
#tab_4:checked  ~ #tab_l4,
#tab_5:checked  ~ #tab_l5,
#tab_6:checked  ~ #tab_l6,
#tab_7:checked  ~ #tab_l7,
#tab_8:checked  ~ #tab_l8  {

	top: 2;
	text-decoration: underline;
}

.tabs_cont {
	position: relative;
	top: 0px;
    flex: 2 0 100%;

}

.tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 5px;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4,
#tab_5:checked ~ .tabs_cont #tab_c5,
#tab_6:checked ~ .tabs_cont #tab_c6,
#tab_7:checked ~ .tabs_cont #tab_c7,
#tab_8:checked ~ .tabs_cont #tab_c8 {
	position: static;
	left: 0;
	opacity: 1;
}*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {
.description-text{
     margin: 0;
    font-size: 15px;
 }
.slick-dots{
    bottom: 25%;
    left: 5%;
}

.about__text p{
font-size: 16px;
}


}
@media only screen and (max-width : 1366px) {
.about__text p{
     font-size: 14px;
}
.slick-dots{
    bottom: 25%;
    left: 5.5%;
}
.margin-left{
    margin: 0;
}
.content {
    padding: 12% 0 0;
    height: 100vh;
}
.tools_one{
    font-size: 17px;
    padding: 8px 20px;
}

.tools_two h3, .tools__item{
    font-size: 15px;
}
.tabs label{
    font-size: 15px;
}
.tools_two, .tools_three{
        padding: 6px 0;
}
.tools_three h3{
    font-size: 16px;
}
.button__tools button{
    padding: 8px 25px;
     margin: 10px 0 0;
}
.slider__img{
    height: 80vh;
}
.tools{
	 margin: 7px auto 80px;
         position: relative;
  z-index: 0;
}
.content{
    padding: 14% 0 0;
    height: 75vh;
}

.navigation__sosial{
    margin: 0;
}
.navbar__link {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.slick-dots {
    bottom: -36px;
    left: 0;
}.contact__desck p{
    font-size: 16px;
}
.back a {
    border: 1px solid #000;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000;
    display: block;
    width: 100%;
    text-align: center;
}
.profile__tab {
    display: block;
    padding: 9px 20px;
    margin: 0 26px;
    margin: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    border: 1px solid #494949;
    color: #494949;
}
.active-tab, .profile__tab:hover {
    border: 1px solid #c94234;
    color: #fff;
    background: #c94234;
}
.profile__btn {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
    /* overflow: hidden; */
}
.profile__select {
    width: 100%;
    float: none;
    margin: 0 0 29px;
    overflow: hidden;
}
.profile {
    margin: 40px auto;
    width: 80%;
    /* overflow: hidden; */
}

.listing__title h3{
    text-align: center;
}

}

/* Small Devices, Tablets */
@media only screen and (max-height : 768px) {

    .menuicon{
        top: 30px;
    }

.header__logo, .header__menu, .silver_bg{
	height: 85px;
}
.header__logo{
	padding: 5px 0 0;
}
.main__header {
    position: relative;
    z-index: 1;
    height: 85px;
}
.cleatfix{
    margin: 0;
}
.top-height {
    padding: 150px 0 0;
}
.scroll img{
    bottom: 12%;
    margin: 0;
}

.header__buttonWhite {
    margin: 36px -31px 0;
}

.navigation__navbar {
    margin: 60px 0 0;
}

.header__menu::before{
	content: '';
	display: block;
	position: relative;
	width: 0;
	height: 0;
	border-bottom: 95px solid rgba(255, 63, 43, 0.7);
	border-left: 62px solid transparent;
	left: -62px;
	top: -44px;
	bottom: 0;
}

.contact__form, .contact__address{
    margin: 10px 0 ;
}


}


/* Custom, iPhone Retina */
@media only screen and (max-width : 768px) {

    .content__title{
        font-size: 52px;
    }
    .content__subtitle {
        font-size: 25px;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (max-width : 1024px) {

    .content{
    padding: 3% 0 0;
    height: 782px;
}

#video-bg > video{
       padding: 83px 0 0;
    height: 857px;
}

}



/* Small Devices, Tablets */
@media only screen and (max-width : 992px) {

.header__logo{
	padding: 10px 0 0 26px;
    text-align: left;
}
.events_item{
    width: 66%;
    margin: 0 auto 40px;
}

.content__tools{
	width: 95%;
}
.main__header{
	background: rgba(255, 63, 43, 0.7)
}
.header__logo,.header__menu  {
	background: rgba(255, 63, 43, 0);
}
.header__menu::before{
	display: none;
}
.menuicon{
	left: 39px;
}

.header__buttonWhite{
	display: none;
}
.header__logo{
	 height: auto;
     padding: 0;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
}
.menuicon{
	left: auto;
	right: 40px;
	top: 32px;
}
.filter__select, .filter__input input{
    width:  100%;
    margin: 10px auto;
}
.listing__filter .col-md-3, .listing__filter .col-md-4, .listing__filter .col-md-6{
    width: auto;
}
.button-red{
    width:  100%;
    margin: 5px 0;
}
.content{
    padding: 14% 0 0;
        height: 100vh;
}

.pad{
    padding: 0;
}
body .wrapper .blog .blog_block .blog_box {
    width: 48%!important;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 768px) {
.header_navigation{
	width: 100%;
	right: 100%;
}

.listing__filter{
    width:  90%;
}
body .wrapper .blog .blog_block .blog_box {
    width: 100%!important;
}
.popup{
    width: 95%
}
.tools{
    width: 98%;
    margin: 10px auto;
}
.blog_more__add_rase {
    padding-left: 0px;
}

.events_bottom-text {
    background: #c94234;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 14px;
    width: 100%;
    margin: 0;
    font-size: 14px;
}
.profile{
    width: 100%;
}

}
@media only screen and (max-width : 767px) {
.header_navigation{
	width: 100%;
	right: 100%;
}


.nav__link{
    font-size: 11px;
}
.footer__nav {
    text-align: center;
    padding: 8px 0;
    margin: 0;
}
.nav__item {
    display: inline-block;
    padding: 4px 14px;
}
.slider__img{
    height: auto;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
}
.tab-content{
	top: 427px;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.events_item{
    width: 90%;
    margin: 0 auto 40px;
}

.about__slider{
    width: 100%
}
.tabs li{
	display: block;
    padding: 5px;
    cursor: pointer;
    font-size: 1.2em;
    color: #FFF;
    width: 100%;
}

.top-height {
    padding: 160px 0 0;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 374px) {

.top-height {
    padding: 218px 0 0;
}
}
@media only screen and (min-width : 992px) {
    .tools__list {
    padding: 0 10px;
    height: 41px;
}
.main__header{
    overflow:hidden;
}
.padd-left{
    padding-left: 40px!important;
}

.text-center {
  text-align: center!important; }




}

/*
@media only screen and (min-width : 1px) {

.slider__img{
    height: 82vh;
}



    }*/



 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1920px) {
.events_item{
    height: 300px;
}
header{
        height: 108px
}
.about__text{
    padding: 40px 30% 0 0
}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.header__logo img{
    width: 100%;
    padding: 17px 0 0 5px;
  }
.content__title {
    line-height: 0.8;
    font-size: 42px;
}
.main__header{
    height: auto;
}
.content__subtitle {
    font-size: 29px;
}
.tabs label{
    padding-left: 19px;
}
.listing__filter{
    width: 90%
}
.nav__item {
    display: inline-block;
    padding: 4px 4px;
}
.footer{
    display: none;
}
.registation__item {
    border: 1px solid #494949;
    padding: 21px 33px;
    overflow: hidden;
    margin: 20px 0;
}

.table__header{
    font-size: 8px;
}
.table__body {
    background: #e8e8e8;
    padding: 9px 0px;
    color: #F44336;
    text-align: center;
    width: 18%;
    font-size: 10px;
}

}


    #page-preloader {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.9);
        z-index: 100500;
    }

    #page-preloader .spinner {
    width: 150px;
    height: 173px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/man-runner-02-2.gif') no-repeat 50% 50%;
    background-size: contain;
    }


/* Feel free to change duration  */
.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}
/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index : 1
   }
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index : 0
   }
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }
  100% {
    opacity : 0   ;
  }
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }
  100% {
    opacity : 0   ;
  }
}



@media only screen and (min-width: 375)  and (min-height: 667px) {
.top-height {
    padding: 130px 0 0;
}


}